@import '../../variables';

div.clock {
    font-family: 'APJapanesefont', sans-seri;
    position: absolute;
    text-align: center;
    top: 100px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 8;

    svg {
        fill: white;
        vertical-align: baseline;
        height: 23px;
        margin-right: 10px;
    }

    div {
        position: relative;
        width: 300px;
        font-size: 2.1rem;

        span.min {
            position: relative;
            left: 30px;
            font-size: 1.3rem;
            > span {
                left: -17px;
                position: absolute;
                font-weight: 600;
                font-size: 2.1rem;
            }
            margin-left: 4px;
        }

        span.sec {
            position: relative;
            left: 65px;
            font-size: 1.3rem;
            > span {
                left: -30px;
                position: absolute;
                font-weight: 600;
                font-size: 2.1rem;
            }
            margin-left: 4px;
        }
    }
}
