@import '../../variables';
@import '../../font';

div.canvasmain {
    position: relative;
    width: 343px;
    margin: auto;
    canvas {
        margin: auto;
        border: none;
        border-radius: 4px;
        background-color: white;
        box-shadow: 0 1px 4px rgb(0 0 0 / 25%);
        user-select: none;

        &.person {
            position: absolute;
            left: 0;
            top: 0;
        }
    }
    div.protected {
        top: 0;
        position: absolute;
        width: 343px;
        height: 343px;
        z-index: 1;
        border-radius: 4px;
        background-color: rgba(10, 10, 10, 0.1);
        box-shadow: 0 1px 4px rgb(0 0 0 / 25%);
    }

    .lineWidth {
        position: absolute;
        height: 126px;
        bottom: 1px;
        right: 0;
        padding: 10px 5px 10px 5px;
        color: #666;
        background-color: white;
        box-shadow: 0 1px 4px rgb(0 0 0 / 25%);
        border-radius: 4px;

        input {
            width: 50px;
        }
        h3 {
            line-height: 120px;
            font-size: 15px;
            text-align: center;
        }
    }

    div.theme {
        text-align: center;
        position: absolute;
        top: 0px;
        left: 50%;
        transform: translateX(-50%);
        width: 100vw;
        white-space: nowrap;
        background-color: rgb(0, 0, 0, 0.2);
        color: white;
        font-family: 'APJapanesefont', sans-seri;
        font-size: 1.4rem;
        z-index: 2;
        span {
            font-size: 1.5rem;
            font-weight: 500;
        }
    }
}
