@import '../../variables';

@keyframes flash {
    0%,
    100% {
        /* 明るく光るよう影を重ねる */
        box-shadow: 0 0 10px #ffc, 0 0 20px #ffc, 0 0 30px #ff9, 0 0 40px #ff6,
            0 0 70px #fc6, 0 0 80px #f99, 0 0 100px #ff96, 0 0 150px #ff96;
    }
    50% {
        /* 淡く光るよう影を重ねる */
        box-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #ffc, 0 0 40px #ff9;
    }
}

div.headerinfo {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 9;
    @keyframes checked-anim {
        50% {
            width: 100vw;
        }
        100% {
            width: 100vw;
            border-radius: 0;
            min-height: 115vh;
        }
    }

    #menu {
        div.hidden {
            display: none;
        }
        div.view {
            display: block;
        }
    }

    #trigger,
    #burger,
    #burger:before,
    #burger:after {
        position: absolute;
        top: 25px;
        left: 20px;
        background: white;
        width: 25px;
        height: 3px;
        transition: 0.2s ease;
        cursor: pointer;
        z-index: 1;

        @include mq(md) {
            top: 15px;
        }
    }
    #trigger {
        height: 25px;
        background: none;
    }
    #burger:before {
        content: ' ';
        top: 10px;
        left: 0;
    }
    #burger:after {
        content: ' ';
        top: 20px;
        left: 0;
    }
    #menu-toggle:checked + #trigger + #burger {
        top: 35px;
        transform: rotate(180deg);
        transition: transform 0.3s ease;
        animation: flash 1s infinite;
    }

    #menu-toggle:checked + #trigger + #burger:before {
        width: 20px;
        top: -2px;
        left: 18px;
        transform: rotate(45deg) translateX(-5px);
        transition: transform 0.1s ease;
    }
    #menu-toggle:checked + #trigger + #burger:after {
        width: 20px;
        top: 2px;
        left: 18px;
        transform: rotate(-45deg) translateX(-5px);
        transition: transform 0.1s ease;
    }
    #menu {
        position: absolute;
        margin: 0;
        padding: 0;
        width: 0px;
        height: 0px;
        border-bottom-right-radius: 100%;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.26);
        transition: 0.1s;
        border-radius: 0 0 50% 50%;
    }
    #menu-toggle:checked + #trigger + #burger + #menu {
        animation: checked-anim 1s ease both;
    }
    #menu-toggle:checked + #trigger ~ #menu {
        div.hidden {
            display: block;
            color: white;

            * {
                animation: fadein 0.4s both;
                @keyframes fadein {
                    0% {
                        opacity: 0;
                    }
                    50% {
                        opacity: 0;
                    }
                    100% {
                        opacity: 1;
                    }
                }
            }
        }
        div.view {
            display: none;
        }
    }
    [type='checkbox']:not(:checked),
    [type='checkbox']:checked {
        display: none;
    }
}
