@import '../../variables';
@import '../../font';

@keyframes bounce-in-bottom {
    0% {
        transform: translateY(500px);
        animation-timing-function: ease-in;
        opacity: 0;
    }
    38% {
        transform: translateY(0);
        animation-timing-function: ease-out;
    }
    55% {
        transform: translateY(20px);
        animation-timing-function: ease-in;
    }
    72% {
        transform: translateY(0);
        animation-timing-function: ease-out;
    }
    81% {
        transform: translateY(5px);
        animation-timing-function: ease-in;
    }
    90% {
        transform: translateY(0);
        animation-timing-function: ease-out;
    }
    95% {
        transform: translateY(3px);
        animation-timing-function: ease-in;
    }
    100% {
        transform: translateY(0);
        animation-timing-function: ease-out;
        opacity: 1;
    }
}

@keyframes heartbeat {
    from {
        -webkit-transform: scale(1);
        transform: scale(1);
        transform-origin: center center;
        animation-timing-function: ease-out;
    }
    10% {
        -webkit-transform: scale(0.91);
        transform: scale(0.91);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
    }
    17% {
        -webkit-transform: scale(0.98);
        transform: scale(0.98);
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
    }
    33% {
        -webkit-transform: scale(0.87);
        transform: scale(0.87);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
    }
    45% {
        -webkit-transform: scale(1);
        transform: scale(1);
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
    }
}

@keyframes focus-in-expand {
    0% {
        letter-spacing: -0.5em;
        filter: blur(12px);
        opacity: 0;
    }
    100% {
        filter: blur(0);
        opacity: 1;
    }
}

div.headerinfo {
    font-family: 'APJapanesefont', sans-seri;
    div.countdown {
        margin-top: 80px;
    }
    > .headertheme {
        margin-top: 20px;
        text-align: center;
        font-size: 1.9rem;
        p {
            color: #cfcfcf;
            font-size: 1.5rem;
            font-weight: 50;
            margin-bottom: -15px;
            padding: 0;
        }
        span {
            font-size: 2.2rem;
        }
    }
    > div.headermessage {
        text-align: center;
        font-size: 2rem;

        .headerinfomation {
            margin-top: 100px;
            font-size: 2.2rem;
            p {
                margin: 0;
                margin-bottom: -8px;
            }

            button {
                outline: none;
                height: 2rem;
                font-size: 1.2rem;
                border-radius: 15px;
                background: #f3f3f3;
            }
        }

        span {
            font-size: 2.5rem;
        }
    }

    > div.roll {
        width: 300px;
        position: fixed;
        bottom: -50px;
        right: 0;
        pointer-events: none;

        p {
            background-color: transparent;
            font-size: 2rem;
            text-align: center;
            margin-bottom: -5px;
            animation: focus-in-expand 0.8s cubic-bezier(0.25, 0.46, 0.45, 0.94)
                both !important;
        }

        img {
            width: 100%;
            animation: bounce-in-bottom 1.2s both !important;
        }
    }
}

div.pcroll {
    width: 300px;
    position: fixed;
    bottom: -50px;
    right: 0;
    pointer-events: none;
    font-family: 'APJapanesefont', sans-seri;
    @include mq(md) {
        display: none;
    }
    p {
        opacity: 0;
        font-size: 2rem;
        text-align: center;
        margin-bottom: -5px;
        animation: focus-in-expand 0.8s cubic-bezier(0.25, 0.46, 0.45, 0.94)
            both;
        animation-delay: 5s;
    }
    img {
        opacity: 0;
        width: 100%;
        animation: bounce-in-bottom 1.2s both;
        animation-delay: 5s;
    }
}

div.messagearea {
    font-family: 'APJapanesefont', sans-seri;
    position: absolute;
    width: 90%;
    text-align: center;
    font-size: 2.5rem;
    top: 50px;
    left: 50%;
    transform: translateX(-50%);
    color: rgb(17, 17, 17);
    @include mq(md) {
        display: none;
    }

    &.endmessage {
        animation: focus-in-expand 0.8s cubic-bezier(0.25, 0.46, 0.45, 0.94)
            both;
        animation-delay: 2s;
    }

    > button {
        &.endbtn {
            outline: none;
            margin: auto 0;
            height: 2rem;
            font-size: 1.2rem;
            border-radius: 54px;
            background: #f3f3f3;
            box-shadow: 7px 7px 14px #bebebe, -7px -7px 14px #ffffff;

            &:active {
                background: linear-gradient(145deg, #dbdbdb, #ffffff);
                box-shadow: 7px 7px 14px #bebebe, -7px -7px 14px #ffffff;
            }
        }
    }
}

.roominbtn {
    height: 180px;
    animation: first-view 1s forwards;
    p {
        font-family: 'Patrick Hand SC', cursive;
        line-height: 0;
        margin: 0;
    }
    input {
        height: 2.4em;
        width: 40%;
        padding: 0 16px;
        border-radius: 4px;
        border: none;
        box-shadow: 0 0 0 1px #ccc inset;
        appearance: none;
    }
    button {
        font-family: 'Patrick Hand SC', cursive;
        background: transparent;
        color: rgb(27, 25, 25);
        border: 3px solid rgb(27, 25, 25);
        border-radius: 50px;
        padding: 0.7rem 1rem;
        font-size: 20px;
        outline: none;
        cursor: pointer;
        position: relative;
        transition: 0.2s ease-in-out;
        letter-spacing: 2px;

        animation: jittery 4s infinite;
        &:hover {
            animation: big 0.2s infinite;
        }
        @keyframes jittery {
            5%,
            50% {
                transform: scale(1);
            }
            10% {
                transform: scale(0.9);
            }
            15% {
                transform: scale(1.15);
            }
            20% {
                transform: scale(1.15) rotate(-5deg);
            }
            25% {
                transform: scale(1.15) rotate(5deg);
            }
            30% {
                transform: scale(1.15) rotate(-3deg);
            }
            35% {
                transform: scale(1.15) rotate(2deg);
            }
            40% {
                transform: scale(1.15) rotate(0);
            }
        }

        @keyframes big {
            50% {
                transform: scale(1.1);
            }
        }
    }

    &.in {
        animation: out 0.4s forwards;
    }
    @keyframes out {
        0% {
            opacity: 1;
            visibility: visible;
        }
        90% {
            opacity: 0.1;
            visibility: visible;
        }
        100% {
            opacity: 0;
            visibility: hidden;
        }
    }

    @keyframes first-view {
        0% {
            opacity: 0;
        }
        50% {
            opacity: 0.3;
        }
        100% {
            opacity: 1;
        }
    }
}

div.btnarea {
    margin-top: 50px;
    position: relative;
    text-align: right;

    button {
        user-select: none;
        margin: 0 3px;
        background-color: rgb(198, 197, 197);
        color: rgb(255, 255, 255);
        font-family: 'Patrick Hand SC', cursive;
        font-size: 2rem;
        transition: 0.1s;
        border: rgb(91, 88, 88, 0.8) solid 1px;
        outline: none;
        border-radius: 30px;
        box-shadow: 0px 0px 21px -6px rgba(0, 0, 0, 0.6);
        &:active {
            transform: scale(0.9);
            background-color: rgb(255, 255, 255);
            color: rgb(31, 30, 30);
        }
        @include mq(md) {
            font-size: 1.6rem;
        }
    }
}

div.rulebtn {
    position: absolute;
    right: 20%;
    top: 30px;
    font-family: 'APJapanesefont', sans-seri;

    @include mq(md) {
        top: 2px;
        right: 5px;
    }
    > button {
        color: rgb(27, 25, 25);
        background: none;
        outline: none;
        border: rgb(91, 88, 88, 0.8) solid 1px;
        outline: none;
        border-radius: 30px;
        box-shadow: 0px 0px 10px -6px rgba(0, 0, 0, 0.6);

        &:active {
            transform: scale(0.9);
        }
    }
}

div.countdown {
    position: absolute;
    top: -40px;
    left: 50%;
    transform: translateX(-50%);
}

.roundMessage {
    color: white;
    font-family: 'APJapanesefont', sans-seri;
    font-size: 3rem;
}

.roundEndMessage {
    color: white;
    font-family: 'APJapanesefont', sans-seri;
    font-size: 2.2rem;
}

.infomessage {
    width: 90%;
    text-align: center;
    font-size: 1.5rem;
    top: 50px;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    color: rgba(50, 50, 50, 0.87);
    font-family: 'APJapanesefont', sans-seri;
    z-index: 1;

    @include mq(md) {
        display: none;
    }

    > div.message {
        animation: focus-in-expand 0.8s cubic-bezier(0.25, 0.46, 0.45, 0.94)
            both;
        @include mq(md) {
            font-size: 1rem;
        }
        span {
            color: rgb(17, 17, 17);
            font-size: 2.1rem;
            @include mq(md) {
                font-size: 1.4rem;
            }
        }
    }
}

// ユーザ情報リスト
div.userinfofirld {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    width: 100vw;
    margin-top: 120px;
    margin-bottom: -180px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    z-index: 1;

    @include mq(lg) {
        margin-top: 200px;
    }
    @include mq(md) {
        margin-top: -0px;
        margin-bottom: -195px;
        font-size: 1.4rem;
    }
}

// ユーザリスト
div.userfirld {
    position: relative;
    margin-top: 40px;
    left: 50%;
    transform: translateX(-50%);
    width: 100vw;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    z-index: 1;
}

//　テーマ選択
div.theme {
    font-family: 'APJapanesefont', sans-seri;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.22);
    overflow: hidden;

    > div.title {
        margin: 0;
        font-size: 1.2em;
        background: #696b6c;
        padding: 4px;
        text-align: center;
        color: #fff;
        font-weight: bold;
        letter-spacing: 0.05em;
        > button {
            font-size: 1rem;
            @include mq(md) {
                font-size: 0.7rem;
            }
        }
    }

    .pattern {
        position: relative;
        justify-content: space-around;
    }
}

// 制限時間設定のラジオボタン
div.rollselect {
    margin-top: 5px;
    display: flex;
    flex-flow: column;
    justify-content: center;
    flex-wrap: wrap;
    font-family: 'APJapanesefont', sans-seri;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.22);
    overflow: hidden;

    > div.title {
        margin: 0;
        font-size: 1.2em;
        background: #696b6c;
        padding: 4px;
        text-align: center;
        color: #fff;
        font-weight: bold;
        letter-spacing: 0.05em;
        > button {
            font-size: 1rem;
            @include mq(md) {
                font-size: 0.7rem;
            }
        }
    }
    .limittimeinputarea {
        display: flex;
        justify-content: space-around;
        background-color: rgb(255, 255, 255, 0.5);

        > div {
            width: 25%;
            text-align: center;
            position: relative;
            cursor: pointer;

            input {
                display: none;

                &:checked ~ div.teban {
                    display: block;
                }
            }
            label {
                font-size: 1.4rem;
                font-family: 'APJapanesefont', sans-seri;
                margin: 0;
                cursor: pointer;
                span {
                    font-size: 2rem;
                }
            }
            &::after {
                content: '　';
                display: block;
                background-image: url(../../../../public/images/underline.png);
                width: 80px;
                margin: -20px auto 0 auto;
                background-size: contain;
                background-repeat: no-repeat;
            }
            div.teban {
                display: none;
                position: absolute;
                left: 20px;
                top: 10px;
                img {
                    width: 25px;
                    z-index: 1;
                    filter: grayscale(50%);
                    animation: fwari ease-in-out 1.5s infinite alternate;
                }
                @keyframes fwari {
                    0% {
                        transform: translate(0%, 0%);
                    }
                    100% {
                        transform: translate(0%, -10px);
                    }
                }
            }
        }
    }
}
