@import '../../variables';
@import '../../font';

$animetiondelay: 2s;

@keyframes heartbeat {
    from {
        -webkit-transform: scale(1);
        transform: scale(1);
        transform-origin: center center;
        animation-timing-function: ease-out;
    }
    10% {
        -webkit-transform: scale(0.91);
        transform: scale(0.91);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
    }
    17% {
        -webkit-transform: scale(0.98);
        transform: scale(0.98);
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
    }
    33% {
        -webkit-transform: scale(0.87);
        transform: scale(0.87);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
    }
    45% {
        -webkit-transform: scale(1);
        transform: scale(1);
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
    }
}

@keyframes attention {
    0% {
        box-shadow: 1px 0px 9px 7px rgba(255, 255, 255, 0.6);
    }
    50% {
        box-shadow: 1px 0px 9px 0px rgba(255, 255, 255, 0.6);
    }
    100% {
        box-shadow: 1px 0px 9px 7px rgba(255, 255, 255, 0.6);
    }
}
@keyframes shake-top {
    0%,
    100% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
        -webkit-transform-origin: 50% 0;
        transform-origin: 50% 0;
    }
    10% {
        -webkit-transform: rotate(2deg);
        transform: rotate(2deg);
    }
    20%,
    40%,
    60% {
        -webkit-transform: rotate(-4deg);
        transform: rotate(-4deg);
    }
    30%,
    50%,
    70% {
        -webkit-transform: rotate(4deg);
        transform: rotate(4deg);
    }
    80% {
        -webkit-transform: rotate(-2deg);
        transform: rotate(-2deg);
    }
    90% {
        -webkit-transform: rotate(2deg);
        transform: rotate(2deg);
    }
}

@keyframes view {
    0% {
        opacity: 0;
    }

    99% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes jello-vertical {
    0% {
        transform: scale3d(1, 1, 1);
    }
    30% {
        transform: scale3d(0.75, 1.25, 1);
    }
    40% {
        transform: scale3d(1.25, 0.75, 1);
    }
    50% {
        transform: scale3d(0.85, 1.15, 1);
    }
    65% {
        transform: scale3d(1.05, 0.95, 1);
    }
    75% {
        transform: scale3d(0.95, 1.05, 1);
    }
    100% {
        transform: scale3d(1, 1, 1);
    }
}

div.userinfoshort {
    position: relative;
    width: 60px;
    margin: 0 1px 0 1px;
    text-align: center;
    font-family: 'APJapanesefont', sans-seri;
    user-select: none;

    p.you {
        top: -15px;
        left: 0;
        right: 0;
        margin: auto;
        font-weight: 700;
        position: absolute;
        z-index: 1;
        pointer-events: none;

        @include mq(md) {
            font-size: 1rem;
        }
    }

    div.icon {
        margin: 0 auto;
        width: 50px;
        border-radius: 50%;
        overflow: hidden;
        box-shadow: 5px 4px 10px 3px rgba(0, 0, 0, 0.6);

        &.voted {
            animation: jello-vertical 0.9s both;
        }
        img {
            pointer-events: none;
            width: 100%;
        }
    }

    &.turn {
        font-weight: 600;
        div.icon {
            box-shadow: 1px 0px 9px 7px rgba(255, 255, 255, 0.6);
            animation: attention 3s infinite;
        }
    }

    &.unview {
        color: rgba(0, 0, 0, 0.6);
        div.icon {
            opacity: 0.6;
            img {
                filter: grayscale(1);
            }
        }
    }

    &.vote {
        div.icon {
            animation: heartbeat 2s infinite;
        }
    }

    p.name {
        text-align: center;
        width: 60px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        pointer-events: none;
        font-size: 0.9rem;

        @include mq(md) {
            font-size: 0.7rem;
        }
    }

    div.punishmentimgdiv {
        position: absolute;
        top: 0;
        opacity: 1;
        animation: view $animetiondelay forwards;
        border: none !important;
        img {
            width: 100%;
        }
    }

    &.punishment {
        animation: shake-top 0.5s cubic-bezier(0.455, 0.03, 0.515, 0.955) both;
        animation-delay: $animetiondelay;
        z-index: 1;
    }

    .fake {
        transform: rotate(-25deg);
        width: 50px;
        position: absolute;
        top: -20px;
        left: -15px;
        opacity: 0;
        animation: view $animetiondelay forwards;
    }
}
