$size: 75px;

.non {
    opacity: 0;
    transition: opacity 0.5s;
}

.container {
    width: 100%;
    height: $size;
    margin: 0 auto 0;
    backface-visibility: hidden;
    background: none;
}

.anime_button {
    opacity: 1;
    user-select: none;
    position: relative;
    left: 50%;
    margin-left: -37px;
    display: block;
    width: $size;
    height: $size;
    font-size: 1.6em;
    font-family: 'APJapanesefont', 'Patrick Hand SC', cursive, ans-seri;
    text-transform: uppercase;
    text-align: center;
    line-height: $size;
    letter-spacing: -1px;
    color: #41403e;
    border: solid 3px #41403e;
    border-radius: 50%;
    background: white;
    cursor: pointer;
    box-shadow: 0 2px 25px rgba(90, 153, 212, 0.5);
    &:active {
        transform: scale(0.9);
        animation: none;
    }

    // アニメーション
    &.heartbeat {
        animation: heartbeat 1.5s ease-in-out infinite both;
    }
    &:hover {
        animation: none;
    }
}

@keyframes heartbeat {
    from {
        -webkit-transform: scale(1);
        transform: scale(1);
        transform-origin: center center;
        animation-timing-function: ease-out;
    }
    10% {
        -webkit-transform: scale(0.91);
        transform: scale(0.91);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
    }
    17% {
        -webkit-transform: scale(0.98);
        transform: scale(0.98);
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
    }
    33% {
        -webkit-transform: scale(0.87);
        transform: scale(0.87);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
    }
    45% {
        -webkit-transform: scale(1);
        transform: scale(1);
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
    }
}
