button.btn {
    font-family: 'APJapanesefont', sans-seri;
    border-radius: 50%;
    background-color: white;
    outline: none;
    text-align: center;
    border-color: #333;
    color: #333;

    &:active {
        transform: scale(0.9);
    }
}
