@import url(https://fonts.googleapis.com/css?family=Patrick+Hand+SC);

.non_view {
	opacity: 0;
	transition: opacity 0.5s;
	.pulse_button {
		cursor: default !important;
	}
}

.container {
	width: 200px;
	height: 100%;
	margin: 0 auto 0;
	perspective: 1000;
	backface-visibility: hidden;
	background: none;
	font-family: "Patrick Hand SC", cursive;
}

.pulse_button {
	user-select: none;
	position: relative;
	top: 50%;
	left: 50%;
	margin-left: -50px;
	margin-top: -50px;
	display: block;
	width: 130px;
	height: 130px;
	font-size: 1.6em;
	font-family: "Patrick Hand SC", cursive;
	text-transform: uppercase;
	text-align: center;
	line-height: 100px;
	letter-spacing: -1px;
	color: #41403e;
	border: solid 3px #41403e;
	border-radius: 50%;
	cursor: pointer;
	box-shadow: 0 2px 25px rgba(90, 153, 212, 0.5);
	animation: pulse 1.5s infinite;
	background-repeat: no-repeat;
	background-size: cover;

	&:active {
		transform: scale(0.9);
	}
}

.pulse_button:hover {
	animation: none;
}

@keyframes pulse {
	0% {
		-moz-transform: scale(0.9);
		-ms-transform: scale(0.9);
		-webkit-transform: scale(0.9);
		transform: scale(0.9);
	}
	70% {
		-moz-transform: scale(1);
		-ms-transform: scale(1);
		-webkit-transform: scale(1);
		transform: scale(1);
		box-shadow: 0 0 0 50px rgba(90, 153, 212, 0);
	}
	100% {
		-moz-transform: scale(0.9);
		-ms-transform: scale(0.9);
		-webkit-transform: scale(0.9);
		transform: scale(0.9);
		box-shadow: 0 0 0 0 rgba(90, 153, 212, 0);
	}
}
