@import url(https://fonts.googleapis.com/css?family=Patrick+Hand+SC);
html,
body {
  overflow-x: visible;
}
.modal_active {
  min-height: 100vh;
  height: 100%;
  background-image: url("/images/werewolf/dark.jpg");
  background-size: cover;
  background-position: top center;
  overflow: hidden;
  &::before {
    background-image: none !important;
  }
}

.modal_active_overflow_view {
  min-height: 100vh;
  height: 100%;
  background-image: url("/images/werewolf/dark.jpg");
  background-size: cover;
  background-position: top center;
  &::before {
    background-image: none !important;
  }
}

.modal_active_second {
  min-height: 100vh;
  height: 100%;
  background-image: url("/images/werewolf/dark.jpg");
  background-size: cover;
  background-position: top center;
  &::before {
    background-image: none !important;
  }
}
