@import "../../variables";
@import "../../font";

div.teamdatainfo {
  display: flex;
  justify-content: center;
  font-family: "APJapanesefont", "Patrick Hand SC", sans-seri;

  > div {
    width: 31%;
    box-shadow: 0px 0px 16px -6px rgba(0, 0, 0, 0.6);
    margin: 0.5em;

    > h2 {
      font-size: 1rem;
      text-align: center;
    }
  }
  .centerarea {
  }
}
