@import '../../variables';

div.checkboxarea {
    position: relative;
    height: 70px;
    margin-bottom: 5px;
    .checkbox {
        position: relative;
        left: 40%;
        transform: translateX(-50%);
        width: 230px;
        input {
            visibility: hidden;
        }
        label {
            font-family: 'APJapanesefont', 'Patrick Hand SC', cursive;
            display: block;
            position: relative;
            margin: 0;
            padding: 5px 20px 5px 52px;
            border: 3px solid #fff;
            border-radius: 100px;
            color: #fff;
            background-color: #6a8494;
            box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
            white-space: nowrap;
            cursor: pointer;
            user-select: none;
            transition: background-color 0.2s, box-shadow 0.2s;
            font-size: 1.4rem;
        }

        label::before {
            content: '';
            display: block;
            position: absolute;
            top: 10px;
            bottom: 10px;
            left: 14px;
            width: 22px;
            border: 3px solid #fff;
            border-radius: 100px;
            transition: background-color 0.2s;
        }

        label:first-of-type {
            transform: translateX(-40px);
        }

        label:last-of-type {
            transform: translateX(40px);
        }

        label:hover,
        input:focus + label {
            box-shadow: 0 0 20px rgba(0, 0, 0, 0.6);
        }

        input:checked + label {
            background-color: #ab576c;
        }

        input:checked + label::before {
            background-color: #fff;
        }

        div.tooltiparea {
            position: absolute;
            right: -30px;
            top: 35px;
            $pink: #ab576c;
            &:hover {
                animation: shake 500ms ease-in-out forwards;
            }
            .tooltip {
                position: relative;
                background: $pink;
                padding: 5px 12px;
                margin: 5px;
                font-size: 15px;
                border-radius: 100%;
                color: #fff;
            }

            .tooltip:before,
            .tooltip:after {
                position: absolute;
                content: '';
                opacity: 0;
                transition: all 0.4s ease;
            }

            .tooltip:before {
                border-width: 10px 8px 0 8px;
                border-style: solid;
                border-color: $pink transparent transparent transparent;
                top: -15px;
                transform: translateY(20px);
            }

            .tooltip:after {
                content: attr(data-tooltip);
                background: $pink;
                width: 160px;
                height: 55px;
                font-size: 13px;
                font-weight: 300;
                top: -65px;
                left: -120px;
                padding: 10px;
                border-radius: 5px;
                letter-spacing: 1px;
                transform: translateY(20px);
            }

            .tooltip:hover::before,
            .tooltip:hover::after {
                opacity: 1;
                transform: translateY(-2px);
            }

            @keyframes shake {
                0% {
                    transform: rotate(2deg);
                }
                50% {
                    transform: rotate(-3deg);
                }
                70% {
                    transform: rotate(3deg);
                }

                100% {
                    transform: rotate(0deg);
                }
            }
        }
    }
}
