@keyframes first-view {
	0% {
		opacity: 0;
	}
	50% {
		opacity: 0.3;
	}
	100% {
		opacity: 1;
	}
}

@keyframes flip-out-hor-top {
	0% {
		transform: rotateX(0);
		opacity: 1;
	}
	100% {
		transform: rotateX(70deg);
		opacity: 0;
	}
}

div.modal {
	font-family: "APJapanesefont", sans-seri;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5);
	z-index: 11;

	/*　画面の中央に要素を表示させる設定　*/
	display: flex;
	align-items: center;
	justify-content: center;

	> div {
		cursor: pointer;
		z-index: 2;
		width: 300px;
		padding: 1em 1em 0 1em;
		background: #fff;
		animation: first-view 0.3s;

		&.flip-out-hor-top {
			animation: flip-out-hor-top 0.35s cubic-bezier(0.55, 0.085, 0.68, 0.53)
				both;
		}

		> div.imgdiv {
			width: 100%;
			height: 300px;
			background-size: cover;
			background-position: center;
			border-radius: 20px 20px 0 0;
			overflow: hidden;
			position: relative;
			box-shadow: 17px 0px 16px -6px rgba(0, 0, 0, 0.6);

			z-index: 1;

			> div {
				width: 100%;
				position: absolute;
				bottom: 0;
				text-align: center;

				font-size: 4rem;
				color: white;
				text-shadow: 1px 1px 0 #000, -1px 1px 0 #000, 1px -1px 0 #000,
					-1px -1px 0 #000;
				text-align: center;
			}
		}

		div.info {
			position: relative;
			top: -20px;
			background-color: white;
			padding: 50px 20px 10px 20px;
			border-radius: 0 0 10px 10px;
			box-shadow: 8px 5px 11px -1.5px rgba(0, 0, 0, 0.6);

			div.winDescription {
				margin-top: -20px;
				display: flex;
				justify-content: center;
				font-size: 1.3rem;
				border-bottom: solid 2px #48484e;
				white-space: nowrap;

				span:nth-child(1) {
					width: 30%;
					letter-spacing: -0.3rem;
				}
				span:nth-child(2) {
					text-align: center;
					letter-spacing: -0.2rem;
					width: 70%;
				}
			}
		}
	}
}
