@import '../../variables';
@import '../../font';

@keyframes heartbeat {
    from {
        -webkit-transform: scale(1);
        transform: scale(1);
        transform-origin: center center;
        animation-timing-function: ease-out;
    }
    10% {
        -webkit-transform: scale(0.91);
        transform: scale(0.91);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
    }
    17% {
        -webkit-transform: scale(0.98);
        transform: scale(0.98);
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
    }
    33% {
        -webkit-transform: scale(0.87);
        transform: scale(0.87);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
    }
    45% {
        -webkit-transform: scale(1);
        transform: scale(1);
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
    }
}

@keyframes focus-in-expand {
    0% {
        letter-spacing: -0.5em;
        filter: blur(12px);
        opacity: 0;
    }
    100% {
        filter: blur(0);
        opacity: 1;
    }
}

.winmessage {
    width: 90%;
    text-align: center;
    font-size: 5rem;
    top: 50px;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    color: rgb(17, 17, 17);
    font-family: 'APJapanesefont', sans-seri;
    z-index: 1;

    > div.message {
        animation: focus-in-expand 0.8s cubic-bezier(0.25, 0.46, 0.45, 0.94)
            both;
        white-space: nowrap;
        @include mq(md) {
            font-size: 2.7rem;
        }
    }
    div.resultbtn {
        font-size: 1rem;
        @include mq(md) {
            font-size: 0.7rem;
        }
    }
}

div.messagearea {
    font-family: 'APJapanesefont', sans-seri;
    position: absolute;
    width: 90%;
    text-align: center;
    font-size: 3rem;
    top: 50px;
    left: 50%;
    transform: translateX(-50%);
    color: rgb(17, 17, 17);
    @include mq(md) {
        font-size: 2.4rem;
    }

    > button {
        &.endbtn {
            outline: none;
            margin: auto 0;
            height: 2rem;
            font-size: 1.2rem;
            border-radius: 54px;
            background: #f3f3f3;
            box-shadow: 7px 7px 14px #bebebe, -7px -7px 14px #ffffff;

            &:active {
                background: linear-gradient(145deg, #dbdbdb, #ffffff);
                box-shadow: 7px 7px 14px #bebebe, -7px -7px 14px #ffffff;
            }
        }
    }
}

.roundMessage {
    color: white;
    font-family: 'APJapanesefont', sans-seri;
    font-size: 3rem;
}
.roominbtn {
    height: 180px;
    animation: first-view 1s forwards;
    p {
        font-family: 'Patrick Hand SC', cursive;
        line-height: 0;
        margin: 0;
    }
    input {
        height: 2.4em;
        width: 40%;
        padding: 0 16px;
        border-radius: 4px;
        border: none;
        box-shadow: 0 0 0 1px #ccc inset;
        appearance: none;
    }
    button {
        font-family: 'Patrick Hand SC', cursive;
        background: transparent;
        color: rgb(27, 25, 25);
        border: 3px solid rgb(27, 25, 25);
        border-radius: 50px;
        padding: 0.7rem 1rem;
        font-size: 20px;
        outline: none;
        cursor: pointer;
        position: relative;
        transition: 0.2s ease-in-out;
        letter-spacing: 2px;

        animation: jittery 4s infinite;
        &:hover {
            animation: big 0.2s infinite;
        }
        @keyframes jittery {
            5%,
            50% {
                transform: scale(1);
            }
            10% {
                transform: scale(0.9);
            }
            15% {
                transform: scale(1.15);
            }
            20% {
                transform: scale(1.15) rotate(-5deg);
            }
            25% {
                transform: scale(1.15) rotate(5deg);
            }
            30% {
                transform: scale(1.15) rotate(-3deg);
            }
            35% {
                transform: scale(1.15) rotate(2deg);
            }
            40% {
                transform: scale(1.15) rotate(0);
            }
        }

        @keyframes big {
            50% {
                transform: scale(1.1);
            }
        }
    }

    &.in {
        animation: out 0.4s forwards;
    }
    @keyframes out {
        0% {
            opacity: 1;
            visibility: visible;
        }
        90% {
            opacity: 0.1;
            visibility: visible;
        }
        100% {
            opacity: 0;
            visibility: hidden;
        }
    }

    @keyframes first-view {
        0% {
            opacity: 0;
        }
        50% {
            opacity: 0.3;
        }
        100% {
            opacity: 1;
        }
    }
}

div.userfirld {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    width: 100vw;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    z-index: 1;
}

.result {
    width: 100%;
    max-width: 400px;
    img {
        max-width: 400px;
        object-fit: cover;
        @include mq(md) {
            width: 350px;
        }
    }
}

div.btnarea {
    margin-top: 50px;
    position: relative;
    text-align: right;

    button {
        user-select: none;
        margin: 0 3px;
        background-color: rgb(198, 197, 197);
        color: rgb(255, 255, 255);
        font-family: 'Patrick Hand SC', cursive;
        font-size: 2rem;
        transition: 0.1s;
        border: rgb(91, 88, 88, 0.8) solid 1px;
        outline: none;
        border-radius: 30px;
        box-shadow: 0px 0px 21px -6px rgba(0, 0, 0, 0.6);
        &:active {
            transform: scale(0.9);
            background-color: rgb(255, 255, 255);
            color: rgb(31, 30, 30);
        }
        @include mq(md) {
            font-size: 1.6rem;
        }
    }
}

div.rollselect {
    margin-top: 5px;
    display: flex;
    flex-flow: column;
    justify-content: center;
    flex-wrap: wrap;
    font-family: 'APJapanesefont', sans-seri;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.22);

    > div.title {
        margin: 0;
        font-size: 1.2em;
        background: #696b6c;
        padding: 4px;
        text-align: center;
        color: #fff;
        font-weight: bold;
        letter-spacing: 0.05em;
        position: sticky;
        top: 0;
        z-index: 1;

        > button {
            font-size: 1rem;
            @include mq(lg) {
                font-size: 0.7rem;
            }
        }
    }

    > div {
        margin: 5px;
        display: flex;
        justify-content: center;
        align-items: center;
        > div.counter {
            margin-left: 50px;
            display: flex;
            > div.counterbtn {
                user-select: none;
                cursor: pointer;
                font-size: 2rem;
                font-family: 'Patrick Hand SC', cursive;
                color: #2f2f2f;
                width: 50px;
                height: 50px;
                line-height: 50px;
                background-color: white;
                border-radius: 50%;
                text-align: center;
                background: #ecebeb;
                box-shadow: 8px 8px 18px #d2d1d1, -8px -8px 18px #ffffff;

                &:active {
                    background: #ecebeb;
                    box-shadow: inset 8px 8px 18px #d2d1d1,
                        inset -8px -8px 18px #ffffff;
                }
            }

            > div.number {
                font-size: 1.5rem;
                color: #2f2f2f;
                font-family: 'Patrick Hand SC', cursive;
                width: 50px;
                height: 50px;
                line-height: 50px;
                text-align: center;
            }
        }
    }
}

div.rulebtn {
    position: absolute;
    right: 20%;
    top: 30px;
    font-family: 'APJapanesefont', sans-seri;

    @include mq(md) {
        right: 5px;
    }
    > button {
        color: rgb(27, 25, 25);
        background: none;
        outline: none;
        border: rgb(91, 88, 88, 0.8) solid 1px;
        outline: none;
        border-radius: 30px;
        box-shadow: 0px 0px 10px -6px rgba(0, 0, 0, 0.6);

        &:active {
            transform: scale(0.9);
        }
    }
}

// 制限時間設定のラジオボタン
.limittimeinputarea {
    display: flex;
    justify-content: space-around;

    > div {
        width: 25%;
        text-align: center;
        position: relative;
        cursor: pointer;

        input {
            display: none;

            &:checked ~ div.teban {
                display: block;
            }
        }
        label {
            font-size: 1.4rem;
            font-family: 'APJapanesefont', sans-seri;
            margin: 0;
            cursor: pointer;
            span {
                font-size: 2rem;
            }
        }
        &::after {
            content: '　';
            display: block;
            background-image: url(../../../../public/images/underline.png);
            width: 80px;
            margin: -20px auto 0 auto;
            background-size: contain;
            background-repeat: no-repeat;
        }
        div.teban {
            display: none;
            position: absolute;
            left: 20px;
            top: 10px;
            img {
                width: 25px;
                z-index: 1;
                filter: grayscale(50%);
                animation: fwari ease-in-out 1.5s infinite alternate;
            }
            @keyframes fwari {
                0% {
                    transform: translate(0%, 0%);
                }
                100% {
                    transform: translate(0%, -10px);
                }
            }
        }
    }
}
