@import "../../variables";

$icon-w: 70px;
$icon-h: 70px;
$sub-icon-w: 65px;
$sub-icon-h: 65px;
$trance-distance: 80px;

@keyframes getcrossedpos {
  45% {
    transform: rotate(0);
    top: 33%;
  }
  50% {
    transform: rotate(0);
    top: 45%;
  }
  100% {
    transform: rotate(45deg);
    top: 45%;
  }
}
@keyframes straightenpos {
  0% {
    transform: rotate(45deg);
    top: 45%;
  }
  55% {
    transform: rotate(0);
    top: 33%;
  }
  100% {
    transform: rotate(0);
    top: 33%;
  }
}
@keyframes getcrossedneg {
  45% {
    transform: rotate(0);
    top: 60%;
  }
  50% {
    transform: rotate(0);
    top: 45%;
  }
  100% {
    transform: rotate(-45deg);
    top: 45%;
	z-index: 300;
  }
}

div.icon {
  position: absolute;
  width: $icon-w;
  height: $icon-h;
  border-radius: 50%;
  transition: 0.2s;
  outline: none;
  box-shadow: 5px 4px 10px 3px rgba(0, 0, 0, 0.6);
  z-index: 3;
  left: 0;

  &.closed {
    // JS制御用
    border-radius: 50%;
  }
  &:hover,
  &:focus {
    background: #333;
  }

  &:after {
    top: 60%;
  }
  &.clicked:before {
    animation: getcrossedpos 0.6s forwards;
  }
  &.clicked:after {
    animation: getcrossedneg 0.6s forwards;
  }
  &:hover {
    cursor: pointer;
  }
  &.clicked {
    background: #000;
    outline: none;
    @include mq(md) {
      left: 20%;
    }
  }

  div {
    position: absolute;
    overflow: hidden;
    border-radius: 50%;
    img {
      width: 100%;
    }
    &.mainicon {
      width: $icon-w;
      height: $icon-h;
      z-index: 3;
    }
    &.subicon {
      width: $sub-icon-w;
      height: $sub-icon-h;
      transition: 0.4s;
      z-index: 2;
      &:hover,
      &:focus {
        background-color: #000;
      }
    }
  }

  @for $i from 1 through 7 {
    $rot: (($i - 2) * 60);
    div.subicon:nth-child(#{$i}) {
      transform: rotate(#{$rot}deg);
    }
    &.clicked div.subicon:nth-child(#{$i}) {
      transform: rotate(#{$rot}deg)
        translateX($trance-distance)
        rotate(-#{$rot}deg);
    }
  }
}
