@import "../../variables";

div.main {
  margin-top: 30px;
  box-shadow: 5px 4px 10px 3px rgb(0 0 0 / 60%);
  transform: translate3d(0, 0, 0);

  &.own {
    order: -1;
    z-index: 1;
    div.icon {
      label {
        font-weight: 700;
        color: #252525;
      }
    }
  }

  margin: 1em auto 1.5em auto;
  padding: 1em 1em;
  width: 100%; /*幅の調節*/
  color: #777777; /* 文字色 */
  background-color: #fff; /* 背景色 */
  border: 4px solid #777777; /*線の太さ・色*/
  border-radius: 3em 0.8em 3em 0.7em/0.9em 2em 0.8em 3em;
  @include mq(md) {
    padding: 1em 0.4em;
  }

  &.turn {
    background-color: #e5fff5; /* 背景色 */
    border: 4px solid #a8ca9e; /*線の太さ・色*/
  }

  div.icon {
    position: relative;
    top: -50px;
    align-items: flex-end;

    div.imgdiv {
      position: absolute;
      width: 60px;
      border-radius: 50%;
      overflow: hidden;
      /* box-shadow */
      box-shadow: 5px 4px 10px 3px rgba(0, 0, 0, 0.6);
      z-index: 2;
      img {
        width: 100%;
      }
    }
    div.content {
      position: absolute;
      background-color: white;
      height: 40px;
      width: 200px;
      left: 35px;
      top: 15px;
      z-index: 1;
      border-radius: 5px;
      overflow: hidden;
      box-shadow: 5px 4px 10px 3px rgba(0, 0, 0, 0.6);

      div.text {
        &:before {
          content: "";
          position: absolute;
          width: 150px;
          height: 100px;
          background-color: #e9f3e6;
          left: 0;
          top: -20px;
          z-index: -1;
          transform: rotate(-8deg);
        }
        label {
          font-size: 1rem;
          color: #252525;
          position: absolute;
          top: 25%;
          left: 50px;
        }
        span {
          font-family: "Patrick Hand SC", cursive;
          font-weight: 700;
          font-size: 0.95rem;
          position: absolute;
          top: -6px;
          left: 50px;
        }
      }
      div.btnarea {
        position: relative;
        left: 75px;
        top: 6px;
        div.btn {
          $background: #a8ca9e;
          border-radius: 50%;
          $white: #ffffff;
          $transformValue: 32%;
          width: 30px;
          background-color: $background;
          position: relative;
          top: 0;
          bottom: 0;
          left: 0;
          right: 0;
          margin: auto;
          display: flex;
          justify-content: center;
          align-items: center;

          input[type="checkbox"] {
            display: none;
          }

          .hamberger {
            height: 20px;
            width: 20px;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            &:hover {
              cursor: pointer;
            }
            span {
              display: inline-flex;
              height: 2px;
              position: relative;
              &::before,
              &::after {
                content: "";
                position: absolute;
                height: 100%;
                width: 50%;
                top: 7.5px;
                bottom: 0;
                margin: auto;
                transition: all ease 0.25s;
                background-color: $white;
              }
              &::before {
                left: 0;
                transform-origin: left;
                border-top-left-radius: 4px;
                border-bottom-left-radius: 4px;
              }
              &::after {
                right: 0;
                transform-origin: right;
                border-top-right-radius: 4px;
                border-bottom-right-radius: 4px;
              }
            }

            span:nth-child(2) {
              &::before,
              &::after {
                width: 100%;
                border-radius: 4px;
                left: 0;
                right: 0;
              }
            }
          }

          input[type="checkbox"]:checked {
            & + label {
              .hamberger {
                span:nth-child(1) {
                  &::before {
                    transform: translateX($transformValue) rotate(45deg);
                  }
                  &::after {
                    transform: translateX($transformValue * -1) rotate(-45deg);
                  }
                }
                span:nth-child(2) {
                  &::before,
                  &::after {
                    width: 0;
                  }
                }

                span:nth-child(3) {
                  &::before {
                    transform: translateX($transformValue) rotate(-45deg);
                  }
                  &::after {
                    transform: translateX($transformValue * -1) rotate(45deg);
                  }
                }
              }
            }
          }
        }
      }
    }
  }

  div.turn {
    position: relative;
    img {
      top: -30px;
      left: 250px;
      position: absolute;
      width: 50px;
      z-index: 3;
      animation: fwari ease-in-out 1.5s infinite alternate;
    }
    @keyframes fwari {
      0% {
        transform: translate(0%, 0%);
      }
      100% {
        transform: translate(0%, -15px);
      }
    }
  }

  div.roll {
    position: relative;
    img {
      top: -30px;
      left: 150px;
      position: absolute;
      width: 100px;
      z-index: 2;
      animation: fwari ease-in-out 1.5s infinite alternate;
    }
    @keyframes fwari {
      0% {
        transform: translate(0%, 0%);
      }
      100% {
        transform: translate(0%, -15px);
      }
    }
  }

  div.ownroll{
    position: relative;
    img {
      top: -30px;
      left: 250px;
      position: absolute;
      width: 100px;
      z-index: 2;
    }
  }

  .handcatd {
    padding-top: 20px;
    div {
      position: relative;
      width: 100px;
      height: 140px;
      margin: 0 auto;

      @include mq(md) {
        width: 60px;
        height: 85px;
      }

      img {
        border-radius: 20px;
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;

        @include mq(md) {
          border-radius: 10px;
        }

        &:first-child {
          opacity: 1;
          transform: rotateY(0deg);
        }

        &:last-child {
          opacity: 0;
          transform: rotateY(90deg);
        }

        &:hover,
        &:active {
          transform: scale(1.1);
        }
      }
      img.gray {
        filter: grayscale(100%);
        opacity: 0.6;
      }
    }
    div.opend {
      img {
        /* 裏面の表示 */
        &:first-child {
          opacity: 0;
          transform: rotateY(90deg);
          transition: opacity 50ms 200ms, transform 300ms;
        }
        &:last-child {
          opacity: 1;
          transform: rotateY(0deg);
          transition: opacity 100ms 150ms, transform 300ms 150ms;
        }
      }
    }
  }

  div.card {
    position: absolute;
    z-index: 3;
    //  transform: translate3d(0, 0, 0);
    animation: SlideIn 0.4s;

    div.card-roll {
      width: 350px;
      height: 484px;
      border-radius: 65px;
      box-shadow: 0 0 1px 1px rgba(white, 0.4),
        0 25px 15px -10px rgba(0, 0, 0, 0.5);
      background-color: #211799;
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
      box-shadow: -3px -3px 3px 0 rgba(#26e6f7, 0.3),
        3px 3px 3px 0 rgba(#f759e4, 0.3), 0 0 6px 2px rgba(#ffe759, 0.3),
        0 35px 25px -15px rgba(0, 0, 0, 0.3);
      position: relative;
      overflow: hidden;
      display: inline-block;
      vertical-align: middle;
      margin: 20px 10px;
      z-index: 3;
      animation: holoCard 10s ease infinite;

      @include mq(md) {
        width: 300px;
        height: 411px;
        border-radius: 53px;
      }
      &:before,
      &:after {
        content: "";
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        top: 0;
        background-image: linear-gradient(
          115deg,
          transparent 0%,
          rgb(0, 231, 255) 30%,
          rgb(255, 0, 231) 70%,
          transparent 100%
        );
        background-position: 0% 0%;
        background-repeat: no-repeat;
        background-size: 300% 300%;
        mix-blend-mode: color-dodge;
        opacity: 0.2;
        z-index: 4;
        animation: holoGradient 12s ease infinite;
        border-radius: 65px;
        @include mq(md) {
          border-radius: 53px;
        }
      }
      &.active:before {
        opacity: 1;
        animation: none;
        transition: none;
        background-image: linear-gradient(
          115deg,
          transparent 0%,
          transparent 25%,
          rgba(0, 231, 255, 0.7) 45%,
          rgba(255, 0, 231, 0.7) 55%,
          transparent 70%,
          transparent 100%
        );
      }

      &.active:before,
      &.active:after {
        animation: none;
      }

      .rare:after {
        background-image: url("../../../../public/images/card/sparkles.gif");
        background-position: center;
        background-size: 180%;
        mix-blend-mode: color-dodge;
        opacity: 1;
        z-index: 5;
        animation: holoSparkle 15s ease infinite;
      }

      @keyframes holoSparkle {
        0%,
        5% {
          opacity: 0.1;
        }
        20% {
          opacity: 1;
        }
        100% {
          opacity: 0.1;
        }
      }

      @keyframes holoGradient {
        0%,
        100% {
          opacity: 0;
          background-position: 0% 0%;
        }
        8% {
          opacity: 0;
        }
        10% {
          background-position: 0% 0%;
        }
        19% {
          background-position: 100% 100%;
          opacity: 0.5;
        }
        35% {
          background-position: 100% 100%;
        }
        55% {
          background-position: 0% 0%;
          opacity: 0.3;
        }
        75% {
          opacity: 0;
        }
      }

      @keyframes holoCard {
        0%,
        100% {
          transform: none;
        }
        25% {
          transform: rotateZ(-3deg) rotateX(-7deg) rotateY(6deg);
        }
        66% {
          transform: rotateZ(3deg) rotateX(7deg) rotateY(-6deg);
        }
      }
    }

    div.card-icon {
      width: 100px;
      margin: auto;
      border-radius: 50%;
      overflow: hidden;
      box-shadow: 5px 4px 10px 3px rgba(0, 0, 0, 0.6);
      img {
        width: 100%;
      }
    }
    div.card-info {
      text-align: center;
      color: #fff;
      label {
        position: relative;
        top: -10px;
        font-size: 2rem;
        text-shadow: 1px 2px 3px #808080;
      }
      p {
        font-size: 2rem;
        position: relative;
        bottom: -130px;
        text-shadow: 1px 2px 3px #808080;
      }
    }
    @keyframes SlideIn {
      0% {
        opacity: 0; /*初期状態では透明に*/
        transform: scale(0) translate(0, -1000px);
      }
      100% {
        opacity: 1;
        transform: scale(1) translate(0, 0);
      }
    }
  }

  div.secretMode {
    position: relative;
    display: flex;
    justify-content: center;
    > div {
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 0 20px 0 20px;

      > div {
        position: relative;
        width: 50px;
        height: 70px;
        margin: 0 auto;

        @include mq(md) {
          width: 35px;
          height: 50px;
        }

        img {
          border-radius: 3px;
          width: 100%;
          position: absolute;
          top: 0;
          left: 0;
        }
      }

      span {
        margin-left: 10px;
        font-size: 3rem;
      }
    }
  }
}
