@import "../variables";

div.clock {
	width: calc(100% + 3rem);
	margin-left: -1rem;
	position: sticky;
	top: -5px;
	left: 0px;
	margin-top: -20px;
	margin-bottom: 20px;
	color: #a8ca9e;
	text-align: center;
	z-index: 8;
	background-color: white;

	@include mq(md) {
		width: 100vw;
	}
	div {
		position: relative;
		width: 200px;
		margin: 0 auto 0 20%;
		font-size: 2.1rem;
		font-family: "Patrick Hand SC", cursive;

		@include mq(md) {
			margin: 0 0 0 28%;
		}

		img {
			vertical-align: baseline;
			height: 23px;
			margin-right: 10px;
		}

		span.min {
			position: relative;
			left: 30px;
			font-size: 1.3rem;
			> span {
				left: -17px;
				position: absolute;
				font-weight: 600;
				font-size: 2.1rem;
			}
			margin-left: 4px;
		}

		span.sec {
			position: relative;
			left: 65px;
			font-size: 1.3rem;
			> span {
				left: -30px;
				position: absolute;
				font-weight: 600;
				font-size: 2.1rem;
			}
			margin-left: 4px;
		}
	}
}
